/* Blog List Page */
.blog {
    position: absolute;
    top: 0px;
    z-index: -10;
    background: rgb(233, 223, 219);
    width: 100%;
    height: auto;
    margin: -5px 0 0 0;
    padding: 50px;
    padding-top: 150px
}

.container {
    margin-top: 0
}

.container > .blogButton{
    margin-top: 0
}

.blogItems {
    margin: 0 0 20px 0;
}

.blogItems > li > a{
    color: rgb(63, 63, 63)
}

.blogItems > li > a:hover{
   color: darkblue !important;
}

/* Blog Item Page */

.blogItem {
    position: absolute;
    top: 0px;
    z-index: -10;
    background: rgb(233, 223, 219);
    width: 100%;
    height: 110%;
    margin: -5px 0 0 0;
    padding: 50px;
    padding-top: 150px
}

.blogItem > div {
    border-radius: 0 !important;
    height: auto;
}

.card-title {
    margin-bottom: 0;
}

.card-title ~ p {
    font-size: 16px;
    color: rgb(109, 109, 109)
}

.card-title + p {
    font-size: 14px;
    color: rgb(109, 109, 109)
}

/* Add New Blog */
.addBlog {
    width: 100%
}

.addBlog input{
    margin-top: 10px
}

.addNewBlogTextarea{
    height: 200px;
}

.addBlog button{
    margin-top: 10px
}