.back-top-btn {
  margin-left: 28px;
  position: fixed;
  z-index: 100;
  left: 100;
  width: 40px;
  height: 40px;
  transition: all 0.4s ease-in-out 0s;
}

.back-top-btn a {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  right: 25px;
  display: block;
  top: -46px;
  color: #fff;
  z-index: 99;
  font-size: 15px;
  transition: all .4s cubic-bezier(.68, 1, .265, 1)
}