@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');
@import url('https://fonts.googleapis.com/css?family=Avenir');
.App {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
  padding-bottom: 80px;
  background-size: 100% 100%;
  background-color: rgb(233, 223, 219);
  height: 100%;
}
